
<% contents.forEach(function (c) { %>

   <div class="toc-element clearfix">
      <span class="fa <%= c.icon %> fa-2x fa-border"></span> <a href="<%= c.filename %>"><%= c.title %></a>
   </div>

<% }); %>
